In [3]:
from urllib.request import urlopen
import numpy as np
import pandas as pd
import json

In [4]:
url = "https://crm.nissan.co.th/mapi/evar/evmarkers.aspx"

In [5]:
response = urlopen(url)

In [6]:
data_json = json.loads(response.read())

In [8]:
df = pd.json_normalize(data_json, record_path =['data'])
df

,evsttid,networkname,stationname,addth,addeng,plgtypename,lat,lng
0,1,MEA,กรมควบคุมมลพิษ,92 ซ.พหลโยธิน 7 แขวงสามเสนใน เขตพญาไท กรุงเทพฯ...,"92 Phaholyothin 7, Khwaeng Sam Sen Nai, Khet P...",type 2,13.784445,100.539844
1,1,MEA,กรมควบคุมมลพิษ,92 ซ.พหลโยธิน 7 แขวงสามเสนใน เขตพญาไท กรุงเทพฯ...,"92 Phaholyothin 7, Khwaeng Sam Sen Nai, Khet P...",chademo,13.784445,100.539844
2,2,MEA,บริษัท แรบบิท ออโต้ คราฟท์ จำกัด,2741/9 ถนนลาดพร้าว แขวงคลองเจ้าคุณสิงห์ เขตวัง...,"2741/9 Lard plao Rd, Khwaeng Khlong Chaokhunsi...",chademo,13.776982,100.626810
3,3,MEA,บริษัท ทีเอสแอล ออโต้ คอร์ปอเรชั่น จำกัด,78/9 หมู่ 1 ถนนแจ้งวัฒนะ ตำบลคลองเกลือ อำเภอปา...,"78/9 Moo.1, Chaeng Watthana Rd, Khlong Klua, P...",chademo,13.897237,100.550172
4,4,MEA,บริษัท ทีเอสแอล ออโต้ เซอร์วิส 2016 จำกัด,ถนนบรมราชชนนี 68 แขวงศาลาธรรมสพน์ เขตทวีวัฒนา ...,"Borommaratchachonnani 68 Rd, Khwaeng Sala Tham...",chademo,13.788177,100.376583
...,...,...,...,...,...,...,...,...
584,501,EA ANYWHERE,CALTEX เอ็ม เอ็นเนอร์จี้,190 หมู่ที่3 ต.สันกลาง อ.สันกำแพง จ.เชียงใหม่ ...,190 หมู่ที่3 ต.สันกลาง อ.สันกำแพง จ.เชียงใหม่ ...,type 2,18.778977,99.069310
585,502,EA ANYWHERE,CALTEX ไพศาลนครสวรรค์,99 หมู่ที่7 ต.บางม่วง อ.เมือง จ.นครสวรรค์ Bang...,99 หมู่ที่7 ต.บางม่วง อ.เมือง จ.นครสวรรค์ Bang...,type 2,15.750086,100.122142
586,503,EA ANYWHERE,Rest Go Tiwanon,401/3 หมู่ที่3 ต.บ้านใหม่ อ.ปากเกร็ด จ.นนทบุรี...,401/3 หมู่ที่3 ต.บ้านใหม่ อ.ปากเกร็ด จ.นนทบุรี...,type 2,13.937406,100.540006
587,504,EA ANYWHERE,ฟอร์ตี้ ไนน์,49 หมู่ที่12 ต.หนองควาย อ.หางดง จ.เชียงใหม่ No...,49 หมู่ที่12 ต.หนองควาย อ.หางดง จ.เชียงใหม่ No...,type 2,18.740252,98.935720
588,505,EA ANYWHERE,Magnolias Waterfront Residences,259 ถ.เจริญนคร คลองต้นไทร คลองสาน กรุงเทพฯ Kh...,259 ถ.เจริญนคร คลองต้นไทร คลองสาน กรุงเทพฯ Kh...,type 2,13.727306,100.510499

In [ ]:
df.to_csv('NISSAN_EV_STATION.csv',encoding="utf-8-sig", index=False)

# Upload data to DataPlatform

In [ ]:
from dsmlibrary.datanode import DataNode

In [ ]:
dir_raw_id = 41

In [ ]:
datanode = DataNode()

In [ ]:
datanode.upload_file(directory_id=dir_raw_id, file_path='NISSAN_EV_STATION.csv')