In [47]:
import pandas as pd
import bs4
import requests

In [48]:
title_list = []
date_list = []
detail_list = []

In [50]:
for i in range(0,45):
  data = requests.get("https://thestandard.co/page/"+str(i)+"/?s=%E0%B8%A3%E0%B8%96%E0%B8%A2%E0%B8%99%E0%B8%95%E0%B9%8C%E0%B9%84%E0%B8%9F%E0%B8%9F%E0%B9%89%E0%B8%B2&search")
  soup = bs4.BeautifulSoup(data.text)
  for c in soup.find_all('div', class_='col-md-8'):
    title_list.append(c.find('h3', class_= 'news-title').find('a').text.strip())
    date_list.append(c.find('div', class_='date').text.strip())
    detail_list.append(c.find('div', class_='desc').text.strip())

In [51]:
table = pd.DataFrame([title_list,date_list,detail_list,]).transpose()

In [52]:
table.columns = ['title', 'date', 'detail']
table

,title,date,detail
0,"Toyota เคาะราคาขาย รถยนต์ไฟฟ้า Toyota bZ4X 1,8...",9 พฤศจิกายน 2022,Toyota ประเทศไทย ได้ประกาศขาย รถยนต์ไฟฟ้า รุ่น...
1,เปิดเงื่อนไขซื้อ ‘รถยนต์ไฟฟ้า’ รัฐบาลช่วยจ่ายเ...,3 พฤศจิกายน 2022,เงื่อนไขการซื้อรถยนต์ไฟฟ้าในประเทศ หลังรัฐบาลส...
2,ชมคลิป: แบรนด์ รถยนต์ไฟฟ้า จีนรุกหนักทั่วโลก ไ...,3 พฤศจิกายน 2022,การแข่งขันในอุตสาหกรรม รถยนต์ไฟฟ้า ยานยนต์ไฟฟ้...
3,‘ทีเอ็มบีธนชาต’ ผนึก ‘ธนชาตประกันภัย’ เปิดตัวป...,2 พฤศจิกายน 2022,ทีเอ็มบีธนชาตจับมือธนชาตประกันภัย รุกตลาดแบงก์...
4,‘Tesla’ ประกาศหั่นราคาขายในตลาดจีน 9% กูรูหวั่...,25 ตุลาคม 2022,Tesla ผู้ผลิตรถยนต์ไฟฟ้าชั้นนำสัญชาติสหรัฐฯ ปร...
...,...,...,...
765,เป็นแค่ ‘ปั๊มน้ำมัน’ ทำไม! OR คิดการใหญ่ วางแผ...,5 พฤศจิกายน 2021,OR บริษัทรัฐวิสาหกิจยักษ์ใหญ่ด้านพลังงานและการ...
766,ชมคลิป: เราจะได้เป็นเจ้าของ EV จริงๆ ใช่ไหม หั...,4 พฤศจิกายน 2021,ราคาจำหน่ายไม่ใช่แค่ปัจจัยสำคัญเพียงอย่างเดียว...
767,Net Zero Emissions: ถอดรหัสถ้อยแถลงของรัฐบาลไท...,3 พฤศจิกายน 2021,ในวันที่ 1 พฤศจิกายน 2564 ที่ผ่านมา นายกรัฐมนต...
768,จับตา ‘เทรนด์แห่งอนาคต’ ที่จะเกิดขึ้นหลังการเป...,3 พฤศจิกายน 2021,นับตั้งแต่ Lotus’s รีแบรนด์ปรับโฉมร้านค้าให้มี...
769,อีลอน มัสก์ ออกมาทวีต Tesla ยังไม่ได้เซ็นสัญญา...,3 พฤศจิกายน 2021,หุ้น Tesla ผู้ผลิตรถยนต์ไฟฟ้าชั้นนำของสหรัฐฯ ป...

In [54]:
table.to_csv('ev_news.csv',encoding="utf-8-sig")

# Upload data to DataPlatform

In [ ]:
from dsmlibrary.datanode import DataNode

In [ ]:
dir_raw_id = 41

In [ ]:
datanode = DataNode()

In [ ]:
datanode.upload_file(directory_id=dir_raw_id, file_path='ev_news.csv')