In [1]:
import json
from urllib.request import urlopen
import pandas as pd
import requests
from tqdm.auto import tqdm

/usr/local/Caskroom/miniconda/base/envs/310/lib/python3.9/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
url = "https://data.thaiauto.or.th/statistic/get-data/stat-register-light-duty-vehicle.php"
headers={
    "origin": "data.thaiauto.or.th",
    "referer" : "https://data.thaiauto.or.th/statistic/rout-stat-register.php?type=light_duty_vehicle",
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36",
    "Content-Type": "application/x-www-form-urlencoded; charset=UTF-8",
    "Content-Length": "2016",
}

In [3]:
sumdata = []
for year in tqdm(range(2019,2023)):
  for month in range(1,13):
    payload = {
        "start":0,
        "length":100,
        "ref_year":year,
        "month": month,
        "type":"all",
        }
    response = requests.post(url, data=payload, headers=headers)  
    decoded_data = response.text.encode().decode('utf-8-sig')
    data = json.loads(decoded_data)
    data['data'].pop()
    sumdata = sumdata + data['data']

100%|█████████████████████████████████████████████| 4/4 [00:19<00:00,  4.77s/it]

In [4]:
sumdata[0:10]

[[1, 2019, 'มกราคม', 'ALFA', '0', '0', '0', '0', '0'],
 [2, 2019, 'มกราคม', 'ALFA ROMEO', '0', '0', '0', '0', '0'],
 [3, 2019, 'มกราคม', 'ASTON MARTIN', '0', '0', '0', '0', '0'],
 [4, 2019, 'มกราคม', 'AUDI', '37', '13', '0', '0', '50'],
 [5, 2019, 'มกราคม', 'AUSTIN', '0', '0', '0', '0', '0'],
 [6, 2019, 'มกราคม', 'BENTLEY', '0', '2', '0', '0', '2'],
 [7, 2019, 'มกราคม', 'BMW', '795', '17', '0', '0', '812'],
 [8, 2019, 'มกราคม', 'BUICK', '0', '0', '0', '0', '0'],
 [9, 2019, 'มกราคม', 'CEC', '0', '0', '0', '0', '0'],
 [10, 2019, 'มกราคม', 'CHERY', '0', '0', '0', '0', '0']]

In [5]:
print(f"Total rows : {len(sumdata)}")

Total rows : 3551

In [6]:
column = ["id","year","month","brand",">=2000cc","<2000cc","BEV","Notspecfic","Total"]
df = pd.DataFrame(sumdata, columns = column)

In [7]:
df.head(10)

   id  year   month         brand >=2000cc <2000cc BEV Notspecfic Total
0   1  2019  มกราคม          ALFA        0       0   0          0     0
1   2  2019  มกราคม    ALFA ROMEO        0       0   0          0     0
2   3  2019  มกราคม  ASTON MARTIN        0       0   0          0     0
3   4  2019  มกราคม          AUDI       37      13   0          0    50
4   5  2019  มกราคม        AUSTIN        0       0   0          0     0
5   6  2019  มกราคม       BENTLEY        0       2   0          0     2
6   7  2019  มกราคม           BMW      795      17   0          0   812
7   8  2019  มกราคม         BUICK        0       0   0          0     0
8   9  2019  มกราคม           CEC        0       0   0          0     0
9  10  2019  มกราคม         CHERY        0       0   0          0     0

In [ ]:
df.to_csv('thaiauto.csv',encoding="utf-8-sig")

# Upload data to DataPlatform

In [ ]:
from dsmlibrary.datanode import DataNode

In [ ]:
dir_raw_id = 41

In [ ]:
datanode = DataNode()

In [ ]:
datanode.upload_file(directory_id=dir_raw_id, file_path='thaiauto.csv')